<launch>

  <arg name="odom_frame_id"   default="odom"/>
  <arg name="base_frame_id"   default="Base"/>
  <arg name="global_frame_id" default="map"/>
  <arg name="odom_topic" default="odom" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="/rtabmap/odom"    to="/planner/odom"/> 
    <remap from="scan" to="/base_scan"/>
    <remap from="obstacles_cloud" to="/obstacles_cloud"/>
    <remap from="ground_cloud" to="/ground_cloud"/>
    <remap from="map" to="/map"/>
    <remap from="move_base_simple/goal" to="/planner_goal"/>

    <rosparam file="$(find valter_movit)config/planner/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find valter_movit)config/planner/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find valter_movit)config/planner/local_costmap_params_3d.yaml" command="load" />
    <rosparam file="$(find valter_movit)config/planner/global_costmap_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find valter_movit)config/planner/base_local_planner_params.yaml" command="load" />

    <param name="cmd_vel/abtr_priority" value="10"/>

  </node>

</launch>
