.default { }
.progress-indicator .percentage { visibility: hidden; }
.progressBarRed { -fx-accent: red; }
.SLAMPane { -fx-background-color: #FFFFFF; }
.robotImage { -fx-background-image: url("robot.png"); }
.fullscreenVideoImageView { -fx-background-color: #000000; }
.blackBG { -fx-background-color: #000000; }
