SUBSYSTEM=="usb", ATTR{idVendor}=="03eb", ATTR{idProduct}=="6125", MODE="0666", OWNER:="maska", GROUP:="maska"
ATTRS{idVendor}=="03eb", ENV{ID_MM_DEVICE_IGNORE}="1"