<launch>
    <!--include file="$(find valter_movit)/launch/valter.launch"/-->

    <include file="$(find valter)/launch/laser-scan-from-pcl.launch"/>

    <include file="/home/maska/git/valter/software/ros/launch/master/rtabmap_ros/launch/valter.launch">
        <arg name="rviz" value="false"/>
        <arg name="localization" value="true"/>
    </include>

</launch>
